In [1]:
import pandas as pd
class clusterization:
    
    def __init__(self,data):
        self.data = data
        self.groupdum(data)
    
    def groupdum(self, data):
        data['DateTime']=pd.to_datetime(data['DateTime'],format='%Y-%m-%d %H:%M:%S')
        dummies=pd.get_dummies(data.category,drop_first=False)
        piped=pd.concat([data, dummies],axis=1)
        self.group(piped)
             
    def group(self,piped):
        self.piped_group=piped.groupby(['DateTime', 'Transaction']).sum()
        self.piped_group.reset_index(level='DateTime', inplace=True)
        self.piped_group['day']=self.piped_group.DateTime.dt.day_name()
        self.piped_group['hour']=self.piped_group.DateTime.dt.hour
        piped_dummy=pd.get_dummies(data=self.piped_group, columns=['day']).drop('DateTime', axis=1)
        self.pca(piped_dummy)

    def pca(self,piped_dummy):
        from sklearn.decomposition import PCA
        pca=PCA(n_components=4).fit_transform(piped_dummy)
        pc_df=pd.DataFrame(pca, columns=[f'pc_{i+1}' for i in range(4)])
        self.pc_df=pc_df
        self.cluster(pc_df)
        
    def cluster(self,pc_df):
        from sklearn.cluster import KMeans
        kmeans=KMeans(n_clusters=4).fit(pc_df)
        self.outputgroup(kmeans,pc_df)
        
    def outputgroup(self,kmeans,pc_df):
        import seaborn as sns
        cm=sns.light_palette('green', as_cmap=True)
        self.piped_group['label']=kmeans.predict(pc_df)
        piped_merge=pipe.merge(self.piped_group.reset_index()[['label', 'Transaction']],on='Transaction', how='left')
        display(pd.crosstab(self.piped_group.hour, self.piped_group.label).style.background_gradient(cmap=cm))
        display(pd.crosstab(self.piped_group.day, self.piped_group.label).style.background_gradient(cmap=cm))
        self.outputbest(piped_merge)
            
    def outputbest(self,piped_merge):
        display(piped_merge.groupby('label')['Item'].value_counts().to_frame('counts').reset_index().set_index('Item').groupby('label')['counts'].nlargest(10))

In [8]:
#pipe=pd.read_csv("./muestra6dias.csv")
#clusterization(pipe)

In [15]:
import pandas as pd
data = pd.read_csv('muestra6dias.csv')
data.head(1)

              DateTime  category    Item  Transaction
0  2017-01-04 09:23:25  beverage  Coffee         4140

In [16]:
data['DateTime'] = pd.to_datetime(data['DateTime'], format='%Y-%m-%d %H:%M:%S')

In [17]:
dummies=pd.get_dummies(data.category,drop_first=False)
piped=pd.concat([data, dummies],axis=1)

In [18]:
piped

,DateTime,category,Item,Transaction,beverage,bread,breakfast,breakfast_pastry,dessert,kids,lunch,other
0,2017-01-04 09:23:25,beverage,Coffee,4140,1,0,0,0,0,0,0,0
1,2017-01-04 09:51:00,beverage,Coffee,4141,1,0,0,0,0,0,0,0
2,2017-01-04 09:51:00,beverage,Hot chocolate,4141,1,0,0,0,0,0,0,0
3,2017-01-04 09:51:00,breakfast_pastry,Medialuna,4141,0,0,0,1,0,0,0,0
4,2017-01-04 10:14:41,breakfast_pastry,Medialuna,4142,0,0,0,1,0,0,0,0
5,2017-01-04 10:14:41,dessert,Cake,4142,0,0,0,0,1,0,0,0
6,2017-01-04 10:14:41,beverage,Coffee,4142,1,0,0,0,0,0,0,0
7,2017-01-04 10:14:41,beverage,Coffee,4142,1,0,0,0,0,0,0,0
8,2017-01-04 10:16:03,bread,Bread,4143,0,1,0,0,0,0,0,0
9,2017-01-04 10:17:00,beverage,Coffee,4144,1,0,0,0,0,0,0,0
10,2017-01-04 10:17:00,beverage,Coffee,4144,1,0,0,0,0,0,0,0
11,2017-01-04 10:17:00,bread,Toast,4144,0,1,0,0,0,0,0,0
12,2017-01-04 10:33:20,bread,Bread,4145,0,1,0,0,0,0,0,0
13,2017-01-04 10:56:18,beverage,Coffee,4146,1,0,0,0,0,0,0,0
14,2017-01-04 10:56:18,other,NONE,4146,0,0,0,0,0,0,0,1
15,2017-01-04 10:59:23,bread,Bread,4147,0,1,0,0,0,0,0,0
16,2017-01-04 11:13:07,beverage,Coffee,4148,1,0,0,0,0,0,0,0
17,2017-01-04 11:13:07,beverage,Coffee,4148,1,0,0,0,0,0,0,0
18,2017-01-04 11:23:45,beverage,Coffee,4149,1,0,0,0,0,0,0,0
19,2017-01-04 11:23:45,bread,Bread,4149,0,1,0,0,0,0,0,0
20,2017-01-04 11:28:36,beverage,Coffee,4150,1,0,0,0,0,0,0,0
21,2017-01-04 11:38:55,beverage,Coffee,4151,1,0,0,0,0,0,0,0
22,2017-01-04 11:38:55,other,NONE,4151,0,0,0,0,0,0,0,1
23,2017-01-04 11:54:02,beverage,Coffee,4152,1,0,0,0,0,0,0,0
24,2017-01-04 11:54:02,dessert,Cake,4152,0,0,0,0,1,0,0,0
25,2017-01-04 11:56:17,beverage,Coffee,4153,1,0,0,0,0,0,0,0
26,2017-01-04 11:56:17,bread,Bread,4153,0,1,0,0,0,0,0,0
27,2017-01-04 12:11:01,bread,Bread,4154,0,1,0,0,0,0,0,0
28,2017-01-04 12:11:01,dessert,Cake,4154,0,0,0,0,1,0,0,0
29,2017-01-04 12:13:39,breakfast,Muesli,4155,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
605,2017-01-09 12:57:18,beverage,Coffee,4433,1,0,0,0,0,0,0,0
606,2017-01-09 12:57:18,beverage,Tea,4433,1,0,0,0,0,0,0,0
607,2017-01-09 12:57:18,other,NONE,4433,0,0,0,0,0,0,0,1
608,2017-01-09 12:57:18,other,NONE,4433,0,0,0,0,0,0,0,1
609,2017-01-09 12:57:18,dessert,Cake,4433,0,0,0,0,1,0,0,0
610,2017-01-09 13:00:30,beverage,Coffee,4434,1,0,0,0,0,0,0,0
611,2017-01-09 13:17:37,lunch,Sandwich,4435,0,0,0,0,0,0,1,0
612,2017-01-09 13:17:37,beverage,Coffee,4435,1,0,0,0,0,0,0,0
613,2017-01-09 13:17:37,breakfast_pastry,Scone,4435,0,0,0,1,0,0,0,0
614,2017-01-09 13:39:04,beverage,Tea,4436,1,0,0,0,0,0,0,0
615,2017-01-09 13:39:04,bread,Toast,4436,0,1,0,0,0,0,0,0
616,2017-01-09 13:40:31,beverage,Coffee,4437,1,0,0,0,0,0,0,0
617,2017-01-09 13:40:31,other,NONE,4437,0,0,0,0,0,0,0,1
618,2017-01-09 13:44:30,bread,Bread,4438,0,1,0,0,0,0,0,0
619,2017-01-09 14:00:11,beverage,Tea,4440,1,0,0,0,0,0,0,0
620,2017-01-09 14:00:11,breakfast_pastry,Scone,4440,0,0,0,1,0,0,0,0
621,2017-01-09 14:30:11,beverage,Coffee,4441,1,0,0,0,0,0,0,0
622,2017-01-09 14:30:11,breakfast_pastry,Scone,4441,0,0,0,1,0,0,0,0
623,2017-01-09 14:48:23,dessert,Cake,4442,0,0,0,0,1,0,0,0
624,2017-01-09 14:52:01,beverage,Coffee,4443,1,0,0,0,0,0,0,0
625,2017-01-09 14:52:01,beverage,Coffee,4443,1,0,0,0,0,0,0,0
626,2017-01-09 14:52:01,breakfast_pastry,Medialuna,4443,0,0,0,1,0,0,0,0
627,2017-01-09 14:52:01,dessert,Cake,4443,0,0,0,0,1,0,0,0
628,2017-01-09 15:13:04,beverage,Coffee,4445,1,0,0,0,0,0,0,0
629,2017-01-09 15:13:04,bread,Bread,4445,0,1,0,0,0,0,0,0
630,2017-01-09 15:13:04,beverage,Tea,4445,1,0,0,0,0,0,0,0
631,2017-01-09 15:57:35,bread,Bread,4446,0,1,0,0,0,0,0,0
632,2017-01-09 15:57:35,beverage,Tea,4446,1,0,0,0,0,0,0,0
633,2017-01-09 16:28:56,beverage,Tea,4447,1,0,0,0,0,0,0,0
634,2017-01-09 16:28:56,dessert,Cookies,4447,0,0,0,0,1,0,0,0

In [19]:
const pyToJSDateFormats = Object.freeze({
  '%A': 'dddd',                           //Weekday as locale’s full name: (In English: Sunday, .., Saturday)(Auf Deutsch: Sonntag, .., Samstag)   
  '%a': 'ddd',                            //Weekday abbreivated: (In English: Sun, .., Sat)(Auf Deutsch: So, .., Sa)
  '%B': 'MMMM',                           //Month name: (In English: January, .., December)(Auf Deutsch: Januar, .., Dezember)
  '%b': 'MMM',                            //Month name abbreviated: (In English: Jan, .., Dec)(Auf Deutsch: Jan, .., Dez)
  '%c': 'ddd MMM DD HH:mm:ss YYYY',       //Locale’s appropriate date and time representation: (English: Sun Oct 13 23:30:00 1996)(Deutsch: So 13 Oct 22:30:00 1996) 
  '%d': 'DD',                             //Day 0 padded: (01, .., 31)
  '%f': 'SSS',                            //Microseconds 0 padded: (000000, .., 999999)
  '%H': 'HH',                             //Hour (24-Hour) 0 padded: (00, .., 23) 
  '%I': 'hh',                             //Hour (12-Hour) 0 padded: (01, .., 12)
  '%j': 'DDDD',                           //Day of Year 0 padded: (001, .., 366) 
  '%M': 'mm',                             //Minute 0 padded: (01, .. 59) 
  '%m': 'MM',                             //Month 0 padded: (01, .., 12)
  '%p': 'A',                              //Locale equivalent of AM/PM: (EN: AM, PM)(DE: am, pm)
  '%S': 'ss',                             //Second 0 padded: (00, .., 59)
  '%U': 'ww',                             //Week # of Year (Sunday): (00, .., 53)  All days in a new year preceding the first Sunday are considered to be in week 0.
  '%W': 'ww',                             //Week # of Year (Monday): (00, .., 53)  All days in a new year preceding the first Monday are considered to be in week 0.
  '%w': 'd',                              //Weekday as #: (0, 6)
  '%X': 'HH:mm:ss',                       //Locale's appropriate time representation: (EN: 23:30:00)(DE: 23:30:00)
  '%x': 'MM/DD/YYYY',                     //Locale's appropriate date representation: (None: 02/14/16)(EN: 02/14/16)(DE: 14.02.16)
  '%Y': 'YYYY',                           //Year as #: (1970, 2000, 2038, 292,277,026,596)
  '%y': 'YY',                             //Year without century 0 padded: (00, .., 99)
  '%Z': 'z',                              //Time zone name: ((empty), UTC, EST, CST) (empty string if the object is naive).
  '%z': 'ZZ',                             //UTC offset in the form +HHMM or -HHMM: ((empty), +0000, -0400, +1030) Empty string if the the object is naive.
  '%%': '%'                               //A literal '%' character: (%)
});

/* 
 * Description: Convert a python format string to javascript format string
 * Example:     "%m/%d/%Y" to "MM/DD/YYYY"
 * @param:  formatStr is the python format string
 * @return: the javascript format string
 */
function convertPYDateFormatToJS(formatStr){
  for(let key in pyToJSDateFormats){
    formatStr = formatStr.split(key).join(pyToJSDateFormats[key]);
  }
  return formatStr;
}

SyntaxError: invalid syntax (<ipython-input-19-f7f132a1caf5>, line 1)